function scrollToSection(id) {
  document.getElementById(id).scrollIntoView({
    behavior: 'smooth'
  });
}

// Scroll animations
ScrollReveal().reveal('.card', {
  delay: 200,
  distance: '50px',
  origin: 'bottom',
  duration: 1000
});
